@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;900&display=swap');
body{
    font-family: 'Roboto Slab', serif;
}
*{
    margin: 0;
    padding:0;
}
.navbar-brand .logotipo-trabajouy {
    width: 80px; /* Establece el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: -15px; /* Espacio entre la imagen y el texto */
    margin-top : -10px;
}


/* Estilos para el texto "TRABAJO UY" */
.navbar-brand .texto-trabajo-uy {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de fuente (negrita) */
    color: #071857; /* Color de texto (rojo como ejemplo) */
    text-shadow: #ffffff;
    /* Otros estilos que desees aplicar */
}

/* Estilos para centrar la barra de búsqueda y el botón */

.cover{
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 540px;
    background-image: url(rsz_fabian-irsara-67l-qujb14w-unsplash.jpg);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover;
}

.titulo-trabajouy{
    text-shadow: #FFFF;
}


/* Personaliza el componente de navegación de Bootstrap */
.navbar {
    margin: 0; /* Elimina el margen superior */
    padding: 0; /* Elimina el relleno */
}

.navbar-parte-usuario{
	margin-top : 15px;
	margin-left : auto !important;
}


/* Personaliza el margen inferior del componente de navegación (opcional) */
.navbar {
    margin-bottom: 0 !important;
}



@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body{
  margin : 0;
}

.trabajo-uy {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: #FFFF;
  font-size: 48px;
  margin-bottom: 10px; /* Agrega espacio en la parte inferior */
  margin-top: 0; /* Elimina el espacio en la parte superior predeterminado */
}

.slogan-uy {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-shadow: #FFFF;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 10px; /* Agrega espacio en la parte superior */
  margin-bottom: 0; /* Elimina el espacio en la parte inferior predeterminado */
}

p{
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header-ola {
  position:relative;
  text-align:center;
  background: #212529;
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    align-items: center;
    height: 75vh; /* Establece la altura al 100% de la ventana */
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:14vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
