@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;900&display=swap');

body {
    font-family: 'Fira Sans Condensed', serif;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid black
}
.cerrar-sesion {
    color: rgb(0, 0, 0) !important; /* Color de texto predeterminado (blanco) */
    background-color: transparent !important; /* Fondo predeterminado (transparente) */
    transition: background-color 0.3s, color 0.3s !important; /* Transición suave de color y fondo */
}

.cerrar-sesion:hover {
    color: white !important; /* Cambia el color de texto a blanco al hacer hover */
    background-color: red !important; /* Cambia el fondo a rojo al hacer hover */
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="number"], input[type="tel"], input[type="url"], select, textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.form-container > * > *:not(label)::placeholder {
    color: #c7c7c7;
}


.active.text-secondary {
    color: var(--bs-primary) !important;
}