<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TrabajoUY</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InicioSesion</display-name>
    <servlet-name>InicioSesion</servlet-name>
    <servlet-class>com.controller.InicioSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioSesion</servlet-name>
    <url-pattern>/InicioSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAltaDeUsuario</display-name>
    <servlet-name>ServletAltaDeUsuario</servlet-name>
    <servlet-class>com.controller.ServletAltaDeUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAltaDeUsuario</servlet-name>
    <url-pattern>/ServletAltaDeUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCerrarSesion</display-name>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <servlet-class>com.controller.ServletCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <url-pattern>/ServletCerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletImagen</display-name>
    <servlet-name>ServletImagen</servlet-name>
    <servlet-class>com.controller.ServletImagen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletImagen</servlet-name>
    <url-pattern>/ServletImagen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaUsuario</display-name>
    <servlet-name>ServletConsultaUsuario</servlet-name>
    <servlet-class>com.controller.ServletConsultaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaUsuario</servlet-name>
    <url-pattern>/ServletConsultaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletImagenSinSesion</display-name>
    <servlet-name>ServletImagenSinSesion</servlet-name>
    <servlet-class>com.controller.ServletImagenSinSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletImagenSinSesion</servlet-name>
    <url-pattern>/ServletImagenSinSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultarUsuariosLogged</display-name>
    <servlet-name>ServletConsultarUsuariosLogged</servlet-name>
    <servlet-class>com.controller.ServletConsultarUsuariosLogged</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultarUsuariosLogged</servlet-name>
    <url-pattern>/ServletConsultarUsuariosLogged</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVerPerfil</display-name>
    <servlet-name>ServletVerPerfil</servlet-name>
    <servlet-class>com.controller.ServletVerPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVerPerfil</servlet-name>
    <url-pattern>/ServletVerPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAltaOfertaLaboral</display-name>
    <servlet-name>ServletAltaOfertaLaboral</servlet-name>
    <servlet-class>com.controller.ServletAltaOfertaLaboral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAltaOfertaLaboral</servlet-name>
    <url-pattern>/ServletAltaOfertaLaboral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaDeOfertaLaboral</display-name>
    <servlet-name>ServletConsultaDeOfertaLaboral</servlet-name>
    <servlet-class>com.controller.ServletConsultaDeOfertaLaboral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaDeOfertaLaboral</servlet-name>
    <url-pattern>/ServletConsultaDeOfertaLaboral</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletModificarUsuario</display-name>
    <servlet-name>ServletModificarUsuario</servlet-name>
    <servlet-class>com.controller.ServletModificarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificarUsuario</servlet-name>
    <url-pattern>/ServletModificarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaTipoPubliOferLab</display-name>
    <servlet-name>ServletConsultaTipoPubliOferLab</servlet-name>
    <servlet-class>com.controller.ServletConsultaTipoPubliOferLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaTipoPubliOferLab</servlet-name>
    <url-pattern>/ServletConsultaTipoPubliOferLab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetalleOferta</display-name>
    <servlet-name>ServletDetalleOferta</servlet-name>
    <servlet-class>com.controller.ServletDetalleOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetalleOferta</servlet-name>
    <url-pattern>/ServletDetalleOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaDePaqDeTipoPubliDeOferLab</display-name>
    <servlet-name>ServletConsultaDePaqDeTipoPubliDeOferLab</servlet-name>
    <servlet-class>com.controller.ServletConsultaDePaqDeTipoPubliDeOferLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaDePaqDeTipoPubliDeOferLab</servlet-name>
    <url-pattern>/ServletConsultaDePaqDeTipoPubliDeOferLab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCargarDatos</display-name>
    <servlet-name>ServletCargarDatos</servlet-name>
    <servlet-class>com.controller.ServletCargarDatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCargarDatos</servlet-name>
    <url-pattern>/ServletCargarDatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPago</display-name>
    <servlet-name>ServletPago</servlet-name>
    <servlet-class>com.controller.ServletPago</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPago</servlet-name>
    <url-pattern>/ServletPago</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletDetallePaquete</display-name>
    <servlet-name>servletDetallePaquete</servlet-name>
    <servlet-class>com.controller.servletDetallePaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDetallePaquete</servlet-name>
    <url-pattern>/servletDetallePaquete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetallePaquete</display-name>
    <servlet-name>ServletDetallePaquete</servlet-name>
    <servlet-class>com.controller.ServletDetallePaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetallePaquete</servlet-name>
    <url-pattern>/ServletDetallePaquete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPaqueteDetallado</display-name>
    <servlet-name>ServletPaqueteDetallado</servlet-name>
    <servlet-class>com.controller.ServletPaqueteDetallado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPaqueteDetallado</servlet-name>
    <url-pattern>/ServletPaqueteDetallado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaDePostulacionAOfertaLaboral</display-name>
    <servlet-name>ServletConsultaDePostulacionAOfertaLaboral</servlet-name>
    <servlet-class>com.controller.ServletConsultaDePostulacionAOfertaLaboral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaDePostulacionAOfertaLaboral</servlet-name>
    <url-pattern>/ServletConsultaDePostulacionAOfertaLaboral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPostulantesAOferta</display-name>
    <servlet-name>ServletPostulantesAOferta</servlet-name>
    <servlet-class>com.controller.ServletPostulantesAOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPostulantesAOferta</servlet-name>
    <url-pattern>/ServletPostulantesAOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostulareseDesdeVerOferta</display-name>
    <servlet-name>PostulareseDesdeVerOferta</servlet-name>
    <servlet-class>com.controller.PostulareseDesdeVerOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostulareseDesdeVerOferta</servlet-name>
    <url-pattern>/PostulareseDesdeVerOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCompraPaquete</display-name>
    <servlet-name>ServletCompraPaquete</servlet-name>
    <servlet-class>com.controller.ServletCompraPaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCompraPaquete</servlet-name>
    <url-pattern>/ServletCompraPaquete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSeleccionarPostulacionaOferta</display-name>
    <servlet-name>ServletSeleccionarPostulacionaOferta</servlet-name>
    <servlet-class>com.controller.ServletSeleccionarPostulacionaOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeleccionarPostulacionaOferta</servlet-name>
    <url-pattern>/ServletSeleccionarPostulacionaOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>seguirUsuarioServlet</display-name>
    <servlet-name>seguirUsuarioServlet</servlet-name>
    <servlet-class>com.controller.seguirUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seguirUsuarioServlet</servlet-name>
    <url-pattern>/seguirUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postularmeDesdeConsultaOferta_movil</display-name>
    <servlet-name>postularmeDesdeConsultaOferta_movil</servlet-name>
    <servlet-class>com.controller.dispositivo_movil.postularmeDesdeConsultaOferta_movil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postularmeDesdeConsultaOferta_movil</servlet-name>
    <url-pattern>/postularmeDesdeConsultaOferta_movil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVerPostulacion_movil</display-name>
    <servlet-name>ServletVerPostulacion_movil</servlet-name>
    <servlet-class>com.controller.dispositivo_movil.ServletVerPostulacion_movil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVerPostulacion_movil</servlet-name>
    <url-pattern>/ServletVerPostulacion_movil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servelPostularmeAOferta</display-name>
    <servlet-name>servelPostularmeAOferta</servlet-name>
    <servlet-class>com.controller.dispositivo_movil.servelPostularmeAOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servelPostularmeAOferta</servlet-name>
    <url-pattern>/servelPostularmeAOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAltaDeOfertaLaboralGeneral</display-name>
    <servlet-name>ServletAltaDeOfertaLaboralGeneral</servlet-name>
    <servlet-class>com.controller.ServletAltaDeOfertaLaboralGeneral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAltaDeOfertaLaboralGeneral</servlet-name>
    <url-pattern>/ServletAltaDeOfertaLaboralGeneral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletAltaOfertaLaboralPaquete</display-name>
    <servlet-name>servletAltaOfertaLaboralPaquete</servlet-name>
    <servlet-class>com.controller.servletAltaOfertaLaboralPaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletAltaOfertaLaboralPaquete</servlet-name>
    <url-pattern>/servletAltaOfertaLaboralPaquete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDescargaPDF</display-name>
    <servlet-name>ServletDescargaPDF</servlet-name>
    <servlet-class>com.controller.ServletDescargaPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDescargaPDF</servlet-name>
    <url-pattern>/ServletDescargaPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidacionAjax</display-name>
    <servlet-name>ValidacionAjax</servlet-name>
    <servlet-class>com.controller.ValidacionAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidacionAjax</servlet-name>
    <url-pattern>/ValidacionAjax</url-pattern>
  </servlet-mapping>
</web-app>