<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TrabajoUY</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InicioSesion</display-name>
    <servlet-name>InicioSesion</servlet-name>
    <servlet-class>com.controller.InicioSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioSesion</servlet-name>
    <url-pattern>/InicioSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAltaDeUsuario</display-name>
    <servlet-name>ServletAltaDeUsuario</servlet-name>
    <servlet-class>com.controller.ServletAltaDeUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAltaDeUsuario</servlet-name>
    <url-pattern>/ServletAltaDeUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCerrarSesion</display-name>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <servlet-class>com.controller.ServletCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <url-pattern>/ServletCerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletImagen</display-name>
    <servlet-name>ServletImagen</servlet-name>
    <servlet-class>com.controller.ServletImagen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletImagen</servlet-name>
    <url-pattern>/ServletImagen</url-pattern>
  </servlet-mapping>
</web-app>