/Soloparaprobar.class
/EmailYaExisteException.class
/NicknameYaExisteException.class
/NombrePaqueteYaExiste.class
/NombreRepetidoOfertaException.class
/NombreTipoPubliYaExisteException.class
/UsuarioNoExisteException.class
/campoInvalidoException.class
/yaExistePostulacionAOfertaException.class
